.HmKey {
	background-color: var(--fg-color);

	text-transform: uppercase;
	font-size: 1.8rem;
	color: var(--text-color);
	
	border-radius: 8px;

	cursor: pointer;
}

.HmKey:disabled {
	background-color: #ccc;
}